@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #bada55;
}

.wrapper {
    position: relative;
    display: block;
}

.sidebar {
    width: 20%;
    float: left;
}

.searchBox {
    padding: 10px;
    text-align: center;

    input {
        border: 0;
        background: #fff;
        padding: 10px;
    }

    input[type=text] {
        min-width: 100px;
    }

    input[type=submit] {
        background: #000;
        color: #fff;
    }
}


.map {
    float: right;
    width: 80%;
    height: 100vh;
}

#mapContainer {
    width: 100%;
    height: 100vh;
}
