<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Backbone Developer Test</title>
        <meta name="description" content="Backbone Developer Test">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="searchBox">

                </div>
                <div class="resultList">

                </div>
            </div>

            <div class="map">

            </div>
        </div>

        <script type="template" id="search-box">
            <form name="search">
                <input type="text" name="term">
                <input type="submit" value="search">
            </form>
        </script>

        <script type="template" id="business-item">
            <%= name %> | Stars: <%= rating %>
        </script>

        <script type="template" id="map">
            <div id="mapContainer"></div>
        </script>
        <script type="template" id="plot-item">
            <div class="plot">plot</div>
        </script>
        <script data-main="scripts/main" src="/node_modules/requirejs/require.js"></script>
    </body>
</html>
